body {
    background-color: #183048;
    color: white;
    font-size: 3em;
    font-family: 'Rowdies';
}

main {
    text-align: center;
}

h3 {
    margin: 20px;
}

#timerCircle {
    background-color: darkslategray;
    border: solid white 5px;
    border-radius: 100%;
    margin: auto;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    color: inherit;
    border: solid white 3px;
    margin-top: 30px;
    border-radius: 20px;
    font-size: 0.5em;
    font-family: inherit;
}

#start {
    background-color: #282;
}

#reset {
    background-color: #f00;
    display: none;
}

#start:hover {
    background-color: #161;
}

#reset:hover {
    background-color: #a00;
}

#colon {
    position: relative;
    bottom: 4px;
}

#modeContainer {
    width: 200px;
    border: solid white 3px;
    border-radius: 23px;
    margin: auto;
    font-size: 0.5em;
    display: flex;
    margin-bottom: 20px;
}

#modeContainer > div {
    padding: 10px;
    width: 100px;
    background-color: #102030;
    color: #606060;
}

#work {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#pause {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}